.grid {
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-columns:200px 200px 200px;
	height: 200px;
	width: 200px;

}

div:nth-child(odd) {
background-color: #7a1c16;
}

div:nth-child(even) {
	text-align: center;
	background-color: white;
}
img {
	width:196px;
}
